<h1>Danh sách sản phẩm</h1>
<table border="1">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Edit</td>
<!--    <td>Action</td>-->
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
<!--    <td><a [routerLink]="['/product/edit/', product.id]" >Edit</a></td>-->
    <td><button (click)="deleteProduct(product)" >Delete</button></td>
    <td><button (click)="saveProduct(product)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
     Edit
    </button></td>

  </tr>
</table>
<!--<router-outlet> </router-outlet>-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-product-edit [product]="productEdit" ></app-product-edit>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

