<h1>Chỉnh sửa sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table border="1">
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name" name="name" ></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price" name="price" ></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description" name="description"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select class="form-control" formControlName="category" name="category">
          <option *ngFor="let c of categoryList" value="{{c.id}}">{{c.name}}</option>
        </select>
      </td>
    </tr>

  </table>
</form>

