
<h2>Table</h2>
<div style="display: flex; gap: 10px">
  <div>
    <form [formGroup]="formSearch" (ngSubmit)="search()">
      <input placeholder="search name" formControlName="name" name="nameSearch">
      <select style="margin-left: 10px" formControlName="typeCode">
        <option *ngFor="let c of typeList" [value]="c.id">{{c.name}}</option>
      </select><button style="margin-left: 10px" class="btn btn-info" type="submit">Search</button>
    </form>
  </div>
  <div>
    <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div>


</div>

<!--<button (click)="findAllByNameAndC/ustomerAndFacility('','4','3')">Search</button>-->
<button  (click)="addNew()"type="button"class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
  ADD
</button>
<table class="table table-sm table-dark">
  <thead>
  <tr>
    <td scope="col">Id</td>
    <td scope="col">Name</td>
    <td scope="col">phoneNumber</td>
    <td scope="col">Type</td>
    <td scope="col">dateOfBirth</td>
    <td scope="col">gender</td>
    <td scope="col">Action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of objectList| paginate: config; let i = index ">
    <td>{{i + 1}}</td>
    <td>{{f.name}}</td>
    <td>{{f.phoneNumber}}</td>
    <td>{{changeToName(f.typeCode)}}</td>
    <td>{{f.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
    <td>{{changeStatus(f.gender)}} </td>
    <td>
      <button  (click)="getInfo(f)" type="button"class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
        Edit
      </button>
      <button  (click)="getInfo(f)" type="button"class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" >
        Delete
      </button>
    </td>

  </tr>
  </tbody>



</table>
<pagination-controls (pageChange)="pageChanged($event)" previousLabel="Trang trước" nextLabel="Trang sau"></pagination-controls>

<!-- Modal SAVE -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="formSave">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <span>Name: </span>
        <span  *ngIf="formSave.controls.name.hasError('required') && formSave.controls.name.touched" style="color: red">
        Required
        </span>
        <br>
        <input type="text" formControlName="name" name="name">
        <br>
        <span>
          Phone Number
        </span>
        <span  *ngIf="formSave.controls.phoneNumber.hasError('required') && formSave.controls.phoneNumber.touched" style="color: red">
        Required
        </span>
        <br>
        <input type="text" formControlName="phoneNumber" name="phoneNumber">
        <br>
        <span>
          Type
        </span>
        <span  *ngIf="formSave.controls.typeCode.hasError('required') && formSave.controls.typeCode.touched" style="color: red">
        Required
        </span>
        <br>
        <select formControlName="typeCode">
          <option *ngFor="let t of typeList" [value]="t.id">{{t.name}}</option>
        </select>
        <br>
        <span>Date Of Birth</span>
        <span  *ngIf="formSave.controls.dateOfBirth.hasError('required') && formSave.controls.dateOfBirth.touched" style="color: red">
        Required
        </span>
        <br>
        <input type="date" formControlName="dateOfBirth" name="dateOfBirth">
        <br>
        <span>Gender</span>
        <span  *ngIf="formSave.controls.gender.hasError('required') && formSave.controls.gender.touched" style="color: red">
        Required
        </span>
        <br>
        <select formControlName="gender">
          <option value="true">Nam</option>
          <option value="false">Nu</option>
        </select>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [hidden]="!formSave.valid" data-dismiss="modal" (click)="submit()" >Save</button>
      </div>
    </div>
    </form>
  </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{object?.id}}
        {{object?.name}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">DELETE</button>
      </div>
    </div>
  </div>
</div>

