
<h2>Customer List</h2>
<button routerLink="/customer/create" class="btn btn-primary"><a>ADD NEW</a></button>
<table class="table table-dark">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Phone</td>
    <td>Indentify Number</td>
    <td>Email</td>
    <td>Date of birth</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let f of customers">
    <td>{{f.customerCode}}</td>
    <td>{{f.name}}</td>
    <td>{{f.phoneNumber}}</td>
    <td>{{f.identifyNumber}}</td>
    <td>{{f.email}}</td>
    <td>{{f.dateOfBirth | date: 'dd-MM-yyyy'}}</td>


    <td>
      <button class="btn btn-primary" [routerLink]="['/customer/edit',f.id]">Edit</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="getInfo(f)">
        Delete
      </button>
    </td>

  </tr>

</table>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>{{customer?.name}}</p>
        <p>{{customer?.id}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
